* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100vw;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.divSearch {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 auto;
  margin-bottom: 20px;
}

label {
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  align-self: center;
}

input {
  padding: 5px;
  font-size: 18px;
}

h1 {
  margin: 20px 0 20px 20px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}

.detalhes {
  border: 1px solid black;
  margin: 0 5px 5px 5px;
}

.oculto {
  display: none;
}

div p {
  font-size: 15px;
  padding: 2px 5px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.border {
  border-radius: 5px;
}

.detalhes p:first-child {
  padding: 10px;
  color: #FFF;
}